@model IEnumerable<WebEcommerce.Models.Cartao>

@{
    ViewData["Title"] = "Cartoes";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/cartao.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
</head>
<body>
    <h1>Meus cartões</h1>
    <section id="cartoes">
        @if (!Model.Any())
        {
            <h3>Não há cartões cadastrados!</h3>
        }
        else
        {
            @foreach (var cartao in Model)
            {
                <div id="cartao">
                    <img src="~/img/cartao_img.png" />
                    <h3>
                        Terminado em @(cartao.CodCartao.HasValue ? cartao.CodCartao.Value.ToString("0000000000000000").Substring(cartao.CodCartao.Value.ToString().Length - 4) : "****")
                    </h3>
                    <a asp-controller="Cliente" asp-action="ExcluirCartao" asp-route-codCartao="@cartao.CodCartao">Excluir</a>
                </div>
            }
        }
        <a asp-controller="Cliente" asp-action="AdicionarCartao">
            <button class="btn-primary">Adicionar novo cartão</button>
        </a>
        
    </section>
</body>
</html>