@model IEnumerable<WebEcommerce.Models.Cartao>

@{
    ViewData["Title"] = "Cartoes";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/cartao.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
</head>
<body>
    <h1>Meus cartões</h1>
    <section id="cartoes">
        <div id="container">
            @if (!Model.Any())
            {
                <h6>Não há cartões cadastrados!</h6>
            }
            else
            {
                @foreach (var cartao in Model)
                {
                    <a asp-controller="Cliente" asp-action="ExcluirCartao" asp-route-codCartao="@cartao.CodCartao">Excluir</a>
                    <div id="cartao">
                        <img src="~/img/cartao_img.png" />
                        <div id="cartao-info">
                            <h3>
                                Terminado em <span>@(cartao.CodCartao.HasValue ? cartao.CodCartao.Value.ToString("0000000000000000").Substring(cartao.CodCartao.Value.ToString().Length - 4) : "****")</span>
                            </h3>
                            @if (@cartao.TipoCartao == 0)
                            {
                                <h6>Débito</h6>
                            }
                            else if (@cartao.TipoCartao == 1)
                            {
                                <h6>Crédito</h6>
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <a asp-controller="Cliente" asp-action="AdicionarCartao">
            <button class="btn-primary">Adicionar novo cartão</button>
        </a>
    </section>
</body>
</html>