@{
    ViewData["Title"] = "Página Inicial";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
</head>
<body>
    <div id="home">
        <div id="text-info" class="container-fluid">
            <p>Vida doce, escolhas <span>saudáveis.</span></p>
            <h6>Viver de forma doce é cultivar saúde e vitalidade através de escolhas saudáveis.</h6>
            <button class="btn">Mais Sobre</button>
        </div>

        <div id="sobre" class="container-fluid">
            <img src="~/img/sobre.png" />
            <aside>
                <h2>Quem somos?</h2>
                <p>
                    Nós somos a Health Treats, empresa voltada para o âmbito alimentício saudável e seguro para pessoas diaéticas. Fundamos em 2019, e o nosso objetivo é ajudar pacientes com diabetes a manter uma <span>vida estável</span> e <span>saudável</span>, oferecendo produtos de alta qualidade.
                </p>
            </aside>
        </div>
    </div>
        
    <script src="~/js/home.js"></script>
</body>
</html>