body {
    width: 100%;
    background-color: #fbfbfb;
    color: #353535;
}
#carrinho #produtos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-items: center;
    margin-bottom: 2em;
    padding: 1em;

    background-color: tomato;
    border-radius: 1em;
}
#carrinho #produtos img{
    width: 7em;
    border-radius: .5em;
}
#carrinho #produtos #produto-info {
    margin-left: 2em;
}
#carrinho #produtos #produto-info h4 {
    font-size: 1.2em;
}