body {
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    color: #353535;
}

#produto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4em;
}

.image-container {
    width: 40em;
    height: auto;
    overflow: hidden;
    border-radius: 1em;
    position: relative;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s ease;
        cursor: zoom-in;
    }

    .image-container:hover img {
        cursor: zoom-out;
    }

    .image-container img {
        transform-origin: center;
        position: relative;
    }

#produto #info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

    #produto #info div {
        background-color: white;
        box-shadow: 0em 0em 1em #0000000e;
        border-radius: 1em;
        padding: 2.5em;
        margin-bottom: 3em;
    }

        #produto #info div h2 {
            font-size: 3em;
            font-weight: 400;
            padding-right: 2em;
        }

        #produto #info div h6 {
            color: #726F6F;
        }

        #produto #info div #aviso {
            color: #FF7050;
            font-size: 0.9em;
        }

        #produto #info div details {
            font-size: 0.8em;
            margin-top: 2em;
        }

            #produto #info div details p {
                width: 28em;
                text-align: justify;
            }

#btn_produto {
    width: 27.8em;
    height: 3em;
    margin-bottom: 1em;
    border-radius: 0.7em;
}

.btn-primary {
    background-color: #93B6EE;
    color: white;
    border: none;
    transition: background-color 200ms;
}
.btn-primary:hover{
    background-color: #6b85dc;
}
.btn-secondary {
    background-color: #DBE9FF;
    color: #93B6EE;
    border: none;
    transition: background-color 200ms;
}
.btn-secondary:hover {
    background-color: #acc0ee;
}