* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    background-image: url('../img/home-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -1;
}

#home {
    width: 100%;
}

#text-info {
    margin-top: 9em;
    margin-bottom: 16em;
}

#text-info p {
    width: 9em;
    font-size: 4.6em;
    line-height: 1.1em;
    font-weight: 300;
}

#text-info p span {
    color: #84B750;
    font-weight: 500;
}

#text-info h6 {
    width: 20em;
    color: #5E5D5D;
    font-size: 1.25em;
    padding-top: .1em;
    padding-bottom: .5em;
}

#text-info button {
    background-color: #84B750;
    color: white;
    width: 10em;
    border-radius: .7em;
    margin-top: .5em;
}

#sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 12em;
}

#sobre img {
    width: 30em;
    border-radius: 1em;
}

#sobre h2 {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: .3em;
}

#sobre p {
    width: 20em;
    font-size: 1.5em;
    text-align: justify;
}

#sobre p span {
    color: #93B6EE;
    font-weight: 500;
}
#carouselExampleIndicators{
    margin-bottom: 10em;
}
#carouselExampleIndicators .carousel-indicators {
    position: relative;
}
#carouselExampleIndicators .carousel-indicators button {
    width: .8em;
    height: .8em;
    border-radius: 100%;
    background-color: #84B750;
}
#carouselExampleIndicators .carousel-inner {
    height: 31em;
    border-radius: 1em;
    box-shadow: 0em 0em 1em #0000000e;
}


#produtos #chamada{
    text-align: center;
    padding: 1em;
}
#produtos #chamada span{
    font-weight: 800;
    color: #84B750;
}
#produtos #card-produto{
   display: flex;
   align-items: center;
   justify-content: center;

   flex-wrap: wrap;

   width: 100%;
}
#produtos #card-produto #produto-info {
    padding: 1em 0 1em 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;

    width: 15em;
    border-radius: 1em;
    box-shadow: 0em 0em 1em #0000000e;

    display: flex;
    flex-direction: column;
    justify-content: left;

    transition: box-shadow 150ms;
}
#produtos #card-produto #produto-info:hover{
    box-shadow: 0em 0em 1em #49455239;
}
#produtos #card-produto #produto-info a{
    text-decoration: none;
}

#produtos #card-produto #produto-info img {
    width: 13em;
    border-radius: .8em;
}
#produtos #card-produto #produto-info h2{
    font-size: .9em;
    font-weight: 600;
    color: #353535;

    margin-top: 1em;

}
#produtos #card-produto #produto-info h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #353535;
}
