/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: Inter;
    position: relative;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: tomato;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: relative;
    width: 100%;
    line-height: 3em;
    background-color: #596B39;

    padding: 2em;
}
footer .container{
    color: white;
}
.footer #conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}
.footer #conteudo img{
    width: 20.5em;
    height: 9em;
}
.footer #conteudo #coluna-1 h5, .footer #conteudo #coluna-2 h5{
    font-weight: 800;
    color: white;
}
.footer #conteudo #coluna-1 ul, .footer #conteudo #coluna-2 ul{
    list-style-type: none;
    color: white;
}
.footer #conteudo #coluna-1 ul a, .footer #conteudo #coluna-2 ul a{
    text-decoration: none;
    color: white;
    transition: 200ms;
}
.footer #conteudo #coluna-1 ul a:hover, .footer #conteudo #coluna-2 ul a:hover{
    color: #84B750;
}

.mx-auto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
