@model WebEcommerce.Models.Produto

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/detalhes_produto.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
</head>
<body>
    <div id="produto">
        <aside id="zoom-container">
            <img src="~/img/@Model.Foto" alt="@Model.NomeProduto" />
            <div id="zoom"></div>
        </aside>
        <aside id="info">
            <div>
                <h3>@Model.NomeProduto</h3>
                <h2>R$@Model.Preco</h2>
                <h6>Em até 6x de <span>R$@string.Format("{0:F2}", Model.Preco / 6)</span></h6>
                <h5 id="aviso">◗ Apenas para o estado de São Paulo</h5>
                <h5 id="qtd">Quantidade: @Model.QtdEstoque disponíveis</h5>
                <details>
                    <summary>Mais sobre esse produto:</summary>
                    <p>@Model.DescDetalhada</p>
                </details>
            </div>
            <button id="btn_produto" class="btn-primary">Comprar</button>
            <button id="btn_produto" class="btn-secondary">Adicionar ao Carrinho</button>
        </aside>
    </div>
</body>
</html>