@model WebEcommerce.Models.Carrinho

@inject WebEcommerce.Libraries.Login.LoginCliente LoginCliente
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/carrinho.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
</head>
<body>
    <div id="carrinho">
        <div id="container-produto">
            @if (Model.Produtos.Count != 0)
            {
                @foreach (var produto in Model.Produtos)
                {
                    <a asp-controller="Carrinho" asp-action="RemoverCarrinho" asp-route-cod="@produto.CodProduto"><img src="~/img/letra-x.png" /></a>
                    <aside id="produtos">
                        <img src="~/img/@produto.Foto" />
                        <div id="produto-info">
                            <h3>@produto.NomeProduto</h3>
                            <h4>R$ @((produto.Preco.GetValueOrDefault() * produto.Quantidade))</h4>
                        </div>
                    </aside>
                }
            }
            else
            {   
                <h6>Nenhum produto no carrinho ainda! Confira os <a asp-controller="Produto" asp-action="Produtos">produtos</a> para procurá-los!</h6>
            }
        </div>
        <aside id="detalhes-pedido">
            <h2>Resumo do pedido</h2>
            <h3>Valor Total: &nbsp &nbsp R$@Model.ValorTotal</h3>
            <h3>Frete: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   R$00,00</h3>
            <h3>Desconto: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp    R$00,00</h3>

            <h2>Total: <span>R$@Model.ValorTotal</span></h2>

            <button id="btn_produto" class="btn-primary">Finalizar Pedido</button>
            <a asp-controller="Produto" asp-action="Produtos">
                <button id="btn_produto" class="btn-secondary">Continuar Comprando</button>
            </a>
        </aside>
    </div>
</body>
</html>