@model WebEcommerce.Models

@{
    ViewData["Title"] = "Carrinho";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/carrinho.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
</head>
<body>
    <div id="carrinho">
        @foreach (var produto in Model.Produto)
        {
            <aside id="produtos">
                <img src="~/img/@produto.Foto" />
                <div id="produto-info">
                    <h3>@produto.NomeProduto</h3>
                    <h4>R$@produto.Preco</h4>
                </div>
            </aside>
        }
        <aside id="detalhes-pedido">
            <div id="resumo">
                <h2>Resumo do pedido</h2>
                <h3>Valor Total: <span>R$@Model.Carrinho.ValorTotal</span></h3>

                <button id="btn_produto" class="btn-primary">Finalizar Pedido</button>
                <a asp-controller="Produto" asp-action="Produtos">
                    <button id="btn_produto" class="btn-secondary">Continuar Comprando</button>
                </a>
            </div>
        </aside>
    </div>
</body>
</html>